body {
	background-color: #121212;
	color: #D3D3D3;
}

a:link, a:visited, a:active {
	color: #D3D3D3;
}

a:hover {
	color: white;
}

img {
	height: 10vw;
	max-width: 7vw;
}

table, thead, td {
        border: 1px solid white;
}

td {
        padding: 5px;
}
